// 入口sccs 
@import "common/config";
@import "common/tools";
@import "common/reset";
@import "common/common";
@import "common/btn";

body {
	font-size: 36px;
}

h3 {
	font-size: 36px;
}

a {
	color:#2093f6;
	text-decoration: underline;
	font-size: 30px;
}